<h1><%= @user.tag %></h1>

<% @tweets.each do |tweet| %>
  <div class="tweet-cell">
    <h5><%= link_to tweet.user.tag, user_path(tweet.user) %></h5>
    <hr>
    <p>
      <%= simple_format(tweet.description) %><br>
      <% if tweet.user == current_user %>
        <%= link_to 'edit this Tweet', edit_tweet_path(tweet) %>
        <%= link_to 'delete this Tweet', tweet_path(tweet), :method => :delete, :data => { :confirm => "Are you sure?" } %>
      <% end %>
    </p>
    <% if current_user.like_tweets.exists?(tweet.id) %>
        <p><%= link_to 'unlike!', like_tweet_path(tweet), method: :post %></p>
    <% else %>
        <p><%= link_to 'like!', like_tweet_path(tweet), method: :post %></p>
    <% end %>
    <% unless tweet.liked_users_count.zero? %>
      <p> <%= tweet.liked_users_count %> users like this tweet! </p>
    <% end %>
  </div>
<% end %>
